<p>Detail Du menu</p>


<div class="gereca bg-warning container">
    <div class="image-container">
        <img [src]="convertureImage(menu.image)" [alt]="menu.nom">
    </div>
    <div class="detaillimagedetaille">
            
            <div class="textdetaile">
                <h1>Les detailles du beurger soisit</h1>
            </div>

            <div class="detaillernomdescription">
                <p>{{ menu.nom}}</p>
                <!-- <p>{{ menu.description}}</p> -->
            </div>
            <div class="detaillerprix">
                <p>{{ menu.prix}}</p>
            </div>
                    <!-- <div class="detailler" *ngif="addclasses">
                    </div> -->
                    <div class="ajouter">
                        <div class="commander">
                            <button type="button" id="addclasses" [disabled]="taf" (click)="addQantity(menu)">Ajouter au panier</button>
                        </div>
                    </div>
     </div>  

     <div class="zone" *ngFor="let tzone of tabzones">  
         <select class="form-select" aria-label="select example"[hidden]="zone" >
            <option selected disabled >----Veiller soisir votre zone----</option>
            <option value="1">{{tzone.nomzone}}</option>
        </select> 
    </div>

        <div class="lescomplements">
           
           
            
            <div class="boissonscomplement">
                <div class="boissonstitres">
                    <p>complement Boissons</p>
                </div>
                <div *ngFor="let boison of boisson" class="boissonsparcour">
                    <img src="/assets/boisson6.jpg" [alt]="boison.nom" class="boissonImage"/>
                    <p>{{boison.nom}}</p>
                </div> 


            </div>

            <div class="fritescomplement">
                <div class="fritetitres">
                    <p>Complement frites</p>
                </div>
                <div *ngFor="let frite of frites" class="friteparcour">
                    <img [src]="convertureImage(frite.image)" [alt]="frite.nom" class="imgfritesimage" />
                     <p>{{frite.nom}}</p>
             
                 </div>

            </div>
        </div>




</div>
    <div class="tafder">
    <div class="boissonrepeat">

        <div class="parcour container" *ngFor="let taile of tailes">
            <p>{{taile.nom}}</p>    
            <img src="assets/boisson1.jpg" alt="" class="img-responsive imgboissons">
            <p>{{taile.prix}}
            <button class="plusmoin"(click)="addmoins(input)">-</button>
            <input type="number" id="{{taile.id}}" #input class="" min="0" value="0">
            <button class="plusmoin" (click)="addplus(input)">+</button>
        </div>


    <!-- </div>
        <input type="number" value="{{quantity}}" disabled>
        <p>{{libele}}</p>
    </div> -->
    <div>
        <span>{{libele}} : {{quantity}} </span>
    </div>
    <div class="menusumulaire">


        <div class="produis">
            <p>Produits simulair</p>
        </div>
       <div class="prodsumulair" >
            <div *ngFor="let sumul of sumule" class="produisparcour"> 
                <a [routerLink]="['/menu',sumul.id]" (click)="detailleSumulair()"><img [src]="convertureImage(sumul.image)" [alt]="sumul.nom" alt="" class="imgsumulaire"></a>
    
            </div>
        </div>

    </div>
   