

<header>

  <div>
    <nav>
    <a routerLink="" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a routerLink="burger">Burger</a>
    <a routerLink="catalogue">Catalogue</a>
    <a routerLink="taille">Taille</a>
    <a routerLink="cliente">Liste Des client</a>
    
    <a><span class="add" routerLink="panier">+add  {{(items$ | async).length}} </span></a>
  </nav>
</div>
  
<!-- Navbar content -->

</header>
<div class="accueil">
  <p>Bienvenu a Brazil Burge </p>

</div>
