p{
    color: blue;
}
header{
    display: flex;
    height: 15%;
    background-color: #ece7ac;
    justify-content: center;
    height: 20vh;
    
}
a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  
  .active {
    color: #666;
    text-decoration: underline;
  }

