input{
    height: 2rem;
    width: 3rem;
    margin: 1rem;
    display: flex;
    border-radius: 20%;
    border-color: yellow;
}
div{
    height:20%;
    display: flex;
}
img{
    margin: 0%;
    width: 10rem;
    height: 3rem;
}
.button{
    height: 2rem;
    width: 3rem;
    margin: 1rem;
    display: flex;
    border-radius: 20%;
    border-color: yellow;
}