<div class="d-flex align-items-center bg-warning m-5 changer">
  <div class="container">
    <div class="card w-60">
      <div class="card-content" *ngFor="let burger of items$ | async">
        <div
          class="row m-4 d-flex justify-content-between align-items-center"
          id="{{ burger.id }}"
        >
          <div class="col-md-2 col-lg-2 col-xl-2">
            <img
              src="{{ burger.lima }}"
              class="img-fluid rounded-3"
            />
          </div>

          <div class="col-md-3 col-lg-3 col-xl-2 d-flex w-25">
            <form class="form-horizontal">
              <input
                id="form1"
                min="0"
                name="quantity"
                value="{{ burger.quantity }}"
                [(ngModel)]="burger.quantity"
                ngModel
                type="number"
                #qtt
                class="form-control form-control-sm"
                (change)="calculePrix(burger, qtt.value); calculePrixTotal()"
              />
            </form>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
            <h6 class="mb-0">{{ burger.prix }} Prix du produit</h6>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
            <h6 class="mb-0">
              {{ burger.prix * burger.quantity }} Prix des burgers
            </h6>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
            <a href=""></a>
            <i class="bi bi-trash3-fill" (click)="deleteToCart(burger)"></i>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between mb-5">
        <h5 class="text-uppercase">Prix Total</h5>
        <h5>{{ sum }}</h5>
      </div>
      <div>
        <button class="btn btn-warning btn-xs" (click)="validerCommande()">
          Valider Commande
        </button><button class="btn btn-warning btn-xs">
          Sur place
        </button><button class="btn btn-warning btn-xs" (click)="addClasse()">
          Â livrer
        </button>
      </div>
    </div>
    <div class="parenzone" [hidden]="pare">
      <div class="zone">  
        <div *ngFor="let tzone of zones">   
        <select class="form-select" aria-label="select example"(change)="togoleElement()">
          <option  selected  disabled >----Veiller soisir votre zone----</option>
          <option value="{{tzone.nomzone}}">{{tzone.nomzone}}</option>
        </select> 
      </div>
      </div>
    </div>


  </div>
  <div class="complementpanier">
      <div class="complementBoisson">

        <div>
            <p>Boissons complement</p>
        </div>
        <div *ngFor="let boison of boisson" class="friteslister">
            <img src="/assets/boisson6.jpg" [alt]="boison.nom" class="imgfritesComplement"/>
            <p>{{boison.nom}}</p>
        </div>

      <div class="fritesComplement">
          
        <div>
          <p>Frites complement</p>
      </div>
      <div *ngFor="let frite of frites" class="friteslister">
         <img [src]="convertureImage(frite.image)" [alt]="frite.nom" class="imgfritesComplement" />
          <p>{{frite.nom}}</p>

      </div>

      </div>
    </div>


