
<div class="burger1 bg-warning  ">
        <div class="image-container">
            <img [src]="burger.lima" [alt]="burger.description" [title]="burger.description" >
        </div>
            <div class="detaillimagedetaille">
                
                <div class="textdetaile">
                    <h1>Les detailles du beurger soisit</h1>
                </div>

                <div class="detaillernomdescription">
                    <p>{{ burger.nom}}</p>
                    <!-- <p>{{ burger.description}}</p> -->
                </div>
                <div class="detaillerprix">
                    <p>{{ burger.prix}} Fcfa</p>
                </div>
                        <!-- <div class="detailler" *ngif="addclasses">
                        </div> -->

            </div> 
                <div class="boissonscomplement">
                    <div>
                        <p>Boissons complement</p>
                    </div>
                    <div *ngFor="let boison of boisson" class="friteslister">
                        <img src="/assets/boisson6.jpg" [alt]="boison.nom" class="imgfritesComplement"/>
                        <p>{{boison.nom}}</p>
                    </div>
                </div>

                <div class="fritescomplement">
                    <div>
                        <p>Frites complement</p>
                    </div>
                    <div *ngFor="let frite of frites" class="friteslister">
                       <img [src]="convertureImage(frite.image)" [alt]="frite.nom" class="imgfritesComplement" />
                        <p>{{frite.nom}}</p>

                    </div>
                </div>

        </div>
        <div class="produis">
            <p>Produits sumulair</p>
        </div>
       <div class="prodsumulair container d-flex " >
            <div *ngFor="let sumul of sumulair" class="produisparcour"> 
                <a [routerLink]="['/burger',sumul.id]"><img src="{{sumul.lima}}" alt="" class="imgsumulaire" (click)="detailleSumulair()"></a>

            </div>
        </div>