


    <p>{{produits.nom}}</p>  

    <div class="container">
        <table class="table">
            <thead>
                <tr class="bg-warning">
                <th scope="col">#</th>
                <th scope="col">Etat</th>
                <th scope="col">Numero Commande</th>
                <th scope="col">Prix</th>
                <th scope="col">Statut Commande</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">{{nombr}}</th>
                <td>{{produits.nom}}</td>
                <td>{{produits.prix}}</td>
                </tr>
            
            
            </tbody>
        </table>
    </div>



