<div class="container">
    <table class="table">
        <thead>
            <tr class="bg-warning">
            <th scope="col">#</th>
            <th scope="col">Etat</th>
            <th scope="col">Numero Commande</th>
            <th scope="col">Prix</th>
            <th scope="col">Statut Commande</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item  of tabCommande" >
            <th scope="row">{{nombr}}</th>
            <td>{{item .isEtatPaiement}}</td>
            <td>{{item .numComande}}</td>
            <td>{{item .paiement}} Fcfa</td>
            <td>{{item .statutCommande}}</td>
            <button class="btn btn-warning"(click)="modifEtatCommande(item.id)">Annuler</button>
            </tr>
        </tbody>
    </table>
</div>