body{

    height: 40%;
    background-color: #ece7ac;
    display: flex;   
    position: relative;
    margin: 3rem;
    
}

div{
    background-color: rgb(0, 0, 0,0.30);
    margin: 2rem;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
}

.tasj{
    height: 30vh;
    border: solid 3px black;
}